.navLeft{
  width:15%;
  min-width: 300px;
  overflow: auto;
  height: calc(100vh);
  color:#fff;
}
.logo{
  padding:0 20px;
  width:160px;
  height:90px;
  background: url('http://img.alicdn.com/tfs/TB1vDtMm6ihSKJjy0FeXXbJtpXa-200-120.svg') no-repeat;
}
