@import '../../style/color.scss';
.header{
  background: $neut-light-other-color;
  padding:0 20px;
  height:70px;
  line-height: 35px;
}
.header-top{
  text-align: right;
  a{
    margin-left: 10px;
  }
}
.header-bottom{
  >.breadcrumb{
    text-align: center;
    .breadcrumb-title{
      position: relative;
      &:after{
        content: ' ';
        border-top: 8px solid $neut-light-other-color;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        position: absolute;
        top: 28px;
        left: -2px;
      }
    }
  }
  .detail{
    text-align: right;
    .date{
      margin-right: 20px;
    }
  }

}
